<table id="contact_table" class="w3-table-all" style="width:100%">
<thead>
<tr>
  <th>Name</th>
  <th>Email</th>
  <th>Phone Number</th> 
</tr>
</thead>
<tbody>

</tbody>
</table>
<button id="get_contacts" type="button">List Contacts</button>
<button id="create_contact" type="button">Create Contact</button>


<div id="contactForm">
  <fieldset>
    <legend>Add New Contact</legend>
    <form id="newContact">
      <input type="text" id="name" placeholder="Contact Name"><br>
      <input type="text" id="email" placeholder="Contact Email"><br>
      <input type="text" id="phone_number" placeholder="Contact Phone Number"><br>
      <br>
      <input type="submit" value="Create Contact">
    </form>
  </fieldset>
</div>